.sidebar {
  display: flex;
  flex-direction: column;
  grid-row: 1/ -1;
  background-color: #fff;
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  min-height: 100vh;
}

.side__header {
  padding-bottom: 4rem;
}

.side__group {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding-bottom: 2rem;
  color: #777;
  font-weight: bold;
}

.side__icon {
  margin-right: 1rem;
}

.side__footer {
  margin-top: auto;
}
